doctype html
html
  head
    title TP2 Auth
    //- Ici on ajoute Tailwind CSS via CDN
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css")
  body(class="bg-gray-100")
    block content
